# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Node
node_modules/
dist/
.vite/

# Env
.env
.env.local

# Docker / DB
pgdata/
*.log

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Object storage (local dev)
storage/

# Celery
celerybeat-schedule

# Office lock files
~$*.docx
